<div class="scene">
<div class="prop prop--palm prop--palm1"><img src="/props/palmtree.png" alt="palm"/></div>
<div class="prop prop--palm prop--palm2"><img src="/props/palmtree.png" alt="palm"/></div>
<div class="prop prop--palm prop--palm3"><img src="/props/palmtree.png" alt="palm"/></div>
<div class="prop prop--sun"><img src="/props/sun.png" alt="sun"/></div>
{{#each cast}} 
<button 
class="character character--{{id}}" 
data-character-id="{{id}}"
data-character-name="{{name}}"
data-character-description="{{description}}"
>
  <img src="/cast/{{id}}.png" alt="{{name}}" title="{{description}}"/>
</button>
{{/each}}
</div>
